
{#
/**
 * @file
 * Theme override for comment fields.
 */
#}

<section{{ attributes }} id="node-comment">
  {% if comments and not label_hidden %}
    {{ title_prefix }}
    <h2{{ title_attributes.addClass('comments-title') }}><i class="icon-comments theme-color"></i> {{ label }}</h2>
    {{ title_suffix }}
  {% endif %}

  {{ comments }}

  {% if comment_form %}
    <div class="comment-form-wrap">
      <h2{{ content_attributes.addClass('add-comment-title') }}><i class="icon-add_comment theme-color"></i> {{ 'Add new comment'|t }}</h2>
      {{ comment_form }}
  </div> <!--/.comment-form -->
  {% endif %}
  
</section>
