<!-- Block: Links -->

{% if data %}

	<div id='links-block'>
	
      	<h2 class="block-title">{{ 'Sites of interest'|t }}{{' que'}}</h2>
    
		<div class="block-content">
			<div class="field field--name-body field--type-text-with-summary field--label-hidden field-item">
				<ul>

					<!-- Links -->
					{% for link in data %}
				
						<li class='link'>
							<a href='{{ link.get("field_link").uri }}' target="_blank"> 
								{% if link.get('field_image').entity %}
									<img src="{{ file_url(link.get('field_image').entity.uri.value) }}" alt="{{ link.get('title').value }}">
								{% else %}
									{{ link.get('title').value }}
								{% endif %}
							</a>
						</li>

					{% endfor %}

				</ul>
			</div>
		</div>
	
	</div>
  
{% endif %}	