<!-- Block: Links -->

{% if data %}

<div id='links-block' class="footer-links-compact">
  <div class="links-container">
    <h2 class="block-title">{{ 'Sites of interest'|t }}</h2>
    
    <div class="block-content">
      <div class="sites-list">
        {% for link in data %}
          <a href='{{ link.get("field_link").uri }}' target='_blank' class="site-item">
            {% if link.get('field_image').entity %}
              <div class="site-item-with-image">
                <img src="{{ file_url(link.get('field_image').entity.uri.value) }}" 
                     alt="{{ link.get('title').value }}" 
                     class="site-thumb">
                <span class="site-name">{{ link.get('title').value }}</span>
              </div>
            {% else %}
              <div class="site-item-text">
                <span class="site-name">{{ link.get('title').value }}</span>
              </div>
            {% endif %}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  
{% endif %}	